<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


   @if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<div class="container-chat">
    <!-- chat box -->
    <div class="chat-box">
        <!-- client -->
        <div class="client">
            <img src="~/images/LogoLabrasaGame-removebg-preview.png" alt="logo" />
            <div class="client-info">
                <h2>LaBrasa</h2>
                <p>online</p>
            </div>
        </div>

        <form method="post">

            <div class="form-group">

                <label for="mobile"> Número de Telefone:</label>

                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Número de Telefone" required>

            </div>

            <div class="form-group">
                <label for="videoUrl">Video:</label>
                <input type="text" class="form-control" id="videoUrl" name="videoUrl" placeholder="Video URL">
            </div>

            <div class="form-group">

                <label for="captiontxt"> Legenda:</label>

                <textarea class="form-control" id="captiontxt" name="captiontxt" placeholder="legenda" rows="3" required></textarea>

            </div>

            <button type="submit" class="botao-enviar">
                <i class="fa-solid fa-paper-plane"></i>
            </button>

            <br />
            <br />

            <div class="roda-pé-chat">
                <div id="link_message">
                    <a href="/WhatsApp/SendMessage" class="message-link" id="messagem">
                        <i class="fa-solid fa-comment-dots"></i>
                    </a>

                    <a href="/WhatsApp/SendImage" class="message-link" id="image">
                        <i class="fa-solid fa-image"></i>
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>