/*Layout*/

body {
    background-image: url(../images/PlanodeFundo.jpg);
}


.login-page .barra {
    display: none;
}

.register-page .barra {
    display: none;
}

.login-page footer {
    display: none;
}

.register-page footer {
    display: none;
}

.login-page header-navbar {
    display: none;
}

.register-page header-navbar {
    display: none;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}


.menu {
    background-color: transparent;
    width: 100%;
    height: 37px;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


body {
    background-color: #ffffff;
    font-family: 'Just Another Hand', cursive;
    overflow-X: hidden;
}

#check {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 32px;
    position: fixed;
    z-index: 1;
    border: 1px #fff solid;
    top: 20px;
    left: 20px;
}

.barra {
    background-color: #242526;
    height: 100%;
    width: 250px;
    position: fixed;
    transition: all .2s linear;
    left: -250px;
    z-index: 1;
}

nav {
    width: 100%;
    position: absolute;
    top: 80px;
}


    nav a {
        text-decoration: none;
    }

.Link {
    background-color: #35383b;
    padding: 20px;
    font-family: 'Gotham';
    font-size: 12pt;
    transition: all .3s linear;
    color: #ffffff;
    border-bottom: 1px solid #FF8F1B;
    opacity: 0;
}

    .Link:hover {
        background-color: #076992;
        color: #ffffff;
    }

    .Link ion-icon {
        margin-right: 20px;
        font-size: 20px;
    }

#check:checked ~ .barra {
    transform: translateX(250px);
}

    #check:checked ~ .barra nav a .Link {
        opacity: 1;
        transition-delay: .3s;
    }

#banner1 {
    padding-top: 97px;
    width: 100%;
}



.mburg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 25px;
    left: 25px;
}

.hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 3px;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
}

    .hamburguer:before,
    .hamburguer:after {
        background: #fff;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .hamburguer:before {
        top: -10px;
    }

    .hamburguer:after {
        bottom: -10px;
    }

input {
    display: none;
}

    input:checked ~ label .hamburguer {
        transform: rotate(45deg);
    }

        input:checked ~ label .hamburguer:before {
            transform: rotate(90deg);
            top: 0;
        }

        input:checked ~ label .hamburguer:after {
            transform: rotate(90deg);
            bottom: 0;
        }


/*Login*/

body {
    margin: 0;
}

    body * {
        box-sizing: border-box;
    }

.main-login {
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}



    .left-login > h1 {
        color: #FF8F1B;
    }




.right-login {
    width: 1000vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1C1C1C;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #5b5b58;
}




.col-md-10 > center h1 {
    color: #FF8F1B;
    margin: 0;
}



.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}



    .text-field > input {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background: #ffffff;
        color: #FF8F1B;
        font-size: 12pt;
        box-shadow: 0px 10px 40px #00000056;
        outline: none;
        box-sizing: border-box;
    }




    .text-field > label {
        color: white;
        margin-bottom: 10px;
    }



    .text-field > input::placeholder {
        /*padding-left: 30px;*/ /* espaço para o ícone */
        /*background-image: url("/Images/mail.png");*/ /* url da imagem do ícone */
        /*background-repeat: no-repeat;
        background-position: left center;*/ /* posiciona o ícone à esquerda */
        /*background-size: 20px;*/ /* tamanho do ícone */
        color: #808080;
    }




.btn-login {
    width: 90%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #1C1C1C;
    background: #FF8F1B;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff9933;
}



/*REGISTER*/

.main-register {
    width: 60vw;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left-register {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-register {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1C1C1C;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #5b5b58;
}


.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #FF8F1B;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}


.text-field > label {
    color: white;
    margin-bottom: 10px;
}


.text-field > input::placeholder {
    color: #808080;
}




input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    border: 2px solid #ccc;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 15px;
}

    input[type="radio"]:checked::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
    }



h6 {
    margin: 20px;
    color: #fff;
    margin-left: 15px;
}

label {
    color: #fff;
}



.btn-register {
    width: 90%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #1C1C1C;
    background: #FF8F1B;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff9933;
}





/*JOGO INDEX*/




/*********************************************************/
.index-page {
    margin-top: 70px;
}

.Titulo-carrosel {
    margin-left: -360px;
    font-weight: bold;
}

.seta-carrosel {
    margin-left: 98px;
}
/***********************************************************/

/*****************************************************************************/

.carousel {
    margin-left: -360px;
    width: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    width: calc(100% * 4);
    transition: transform 0.3s ease-in-out;
}


/***************************************************************/
.card {
    flex: 0 0 calc(18% - 0px);
    margin: 0 6px;
    height: 182px;
    scroll-snap-align: start;
    background: #1C1C1C;
    box-shadow: 0px 10px 4px #5b5b58;
}

    .card img {
        border-radius: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 180px;
    }


.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 5%;
    height: 182px;
    color: white;
    font-size: 60px;
    background-color: rgba(51, 51, 51, 0.5); /* branco com 50% de transparência */
}

    .prev-btn:hover,
    .next-btn:hover {
        background-color: rgba(0,0,0,.9);
    }



.prev-btn {
    left: 0px;
}

.next-btn {
    right: -2px;
}




/*Jogos Smartphone*/
@media only screen and (max-width: 950px) {

    .index-page {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {



    .index-page {
        margin-top: 70px;
        width: 100%;
    }

    .Titulo-carrosel {
        margin-left: -70px;
    }

    .seta-carrosel {
        margin-left: 98px;
    }

    .carousel {
        margin-left: -70px;
        width: 170%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .card {
        flex: 0 0 calc(43% - 0px);
        margin: 0 6px;
        scroll-snap-align: start;
        background: #1C1C1C;
        box-shadow: 0px 10px 4px #5b5b58;
        height: 98px;
    }

        .card img {
            border-radius: 15px;
            height: 10vh;
            border-radius: 10px;
            box-shadow: 0px 3px #FF8F1B;
        }

    .prev-btn,
    .next-btn {
        display: none;
    }
}

/*PERFIL*/

.perfil-page {
    margin-top: 70px;
}

body-perfil {
    background-color: #fff;
    text-align: center;
    margin: 25px;
}

.container-perfil {
    background-color: #1C1C1C;
    padding: 15px;
    text-align: center;
}






img.rounded-circle {
    width: 200px;
    border-radius: 10%;
    filter: grayscale(1);
    transition: 0.5s;
}

.h1 {
    align-items: center;
    color: #FF8F1B;
}

.detalhes-left {
    padding: 30px;
    margin: 30px;
    text-align: left;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

negrito {
    font-weight: 700;
    color: white;
}

    negrito > p {
        color: white;
        font-weight: 400;
    }



/*Usuario*/

.usuario-page {
    margin-top: 70px;
}

.conteudo:hover {
    background-color: #076992;
}

body {
    padding: 30px;
}

.titulo-usuario {
    color: #fff;
}

table {
    border: 1px solid #eee;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    align-items: center;
    color: white;
}

    table thead th {
        padding: 10px;
        font-weight: 600;
    }

    table tbody tr td {
        display: table-cell;
        font-weight: 400;
        padding: 10px;
        text-align: left;
        position: relative;
    }

    table tbody tr {
        border: none;
        display: table-row;
    }



        table tbody tr td button {
            display: inline-block;
            padding: 10px 15px;
            position: initial;
            transform: translate(0);
            width: auto;
        }

        table tbody tr td button {
            background: #FF8F1B;
            border: none;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
            color: #fff;
            font-weight: 700;
            padding: 10px 0;
            width: 100%;
        }

    table thead {
        display: table-header-group;
        font-weight: 500;
    }

    table tbody tr td:before {
        display: none;
    }

    table tbody tr td button:hover, table tbody tr td button:focus {
        background: #a795fe;
        cursor: pointer;
    }



.barra-pesquisa {
    width: 500px;
    display: flex; /* torna o elemento um bloco */
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 10px #FF8F1B;
}

#barra-pesquisa {
    border-radius: 50px;
    height: 3.2rem;
    margin-right: -10px;
}

.pesquisa {
    margin-left: -20px;
    padding: 10px;
    background-color: #FF8F1B;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 3.2rem;
    width: 3.9rem;
}

    .pesquisa i {
        font-size: 1.5rem;
    }

.whatsapp-text {
    margin-left: -15px; /* Define a margem esquerda para criar espaço entre o ícone e o texto */
    font-size: 16px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define a espessura da fonte */
    color: #fff; /* Define a cor do texto */
}


#link_rota {
    display: flex;
    gap: 2rem;
    align-items: center; /*****************/
    margin-top:30px;
}


     #link_rota .message-rota {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.2rem;
        width: 3.2rem;
        color: #fff;
        border-radius: 50%;
        transition: all 0.4s;
    }



#link_rota .message-rota i {
    font-size: 1.5rem;
}

#link_rota .message-rota:hover {
    opacity: 0.8;
}


#enviaremail {
    background-color: #db4a39;
}

#whatsapp {
    background-color: #a4c639;
}





/*.botao-whatsapp {
    height: 2.8rem;
    width: 6.8rem;
    border-radius: 15%;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    margin-top: 15px
}

.botao-email {
    height: 2.8rem;
    width: 6.8rem;
    border-radius: 15%;
    background-color: #db4a39;
    border: none;
    color: #fff;
    margin-top: 15px
}*/

/*.link-botao {
        padding: 15px;
    }*/





.container-usuario {
    margin-top: 40px;
}





/*CONTATO*/

.contato-page {
    margin-top: 70px;
}

.main-contato {
    color: #fff;
}

.card-contato {
    display: flex;
    padding: 30px 35px;
    align-items: center;
    background: #1C1C1C;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #5b5b58;
}

.contato-image {
    width: 50%;
}

.imagem-e-texto img {
    float: left;
    margin-right: 5px;
}

.imagem-e-texto p {
    margin-top: 0;
}




.left-contato {
    margin-left: 20px;
}


/*PERFIL SMARTPHONE*/
@media only screen and (max-width: 950px) {
    .container-perfil {
        width: 85%;
    }
}



@media only screen and (max-width: 600px) {
    .container-perfil {
        width: 150%;
        margin-left: -50px;
        height: 85vh;
        padding: 30px 35px;
        border-radius: 25px;
        box-shadow: 0px 2px 3px #FF8F1B;
    }

    h2 {
        font-size: 30px;
        text-align: left;
        padding: 30px;
        margin: 30px;
    }

    img.rounded-circle {
        width: 105px;
    }

    .detalhes-left {
        padding: 30px;
        margin: auto;
        text-align: initial;
        -webkit-column-count: auto; /* Chrome, Safari, Opera */
        -moz-column-count: auto; /* Firefox */
        column-count: auto;
    }

    .negrito {
        margin: 2px;
        font-weight: 50;
        color: #eeebeb;
        text-align: left;
    }

    negrito {
        font-weight: 700;
        color: white;
    }
}

/*LOGIN SMARTPHONE*/

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}



@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none
    }

    .left-login {
        width: 50%;
        height: auto;
        margin-left: 0px;
    }

    .right-login {
        width: 130%;
        height: auto;
        margin-right: 60px;
    }

    .left-login-image {
        width: 60vw;
    }

    .card-login {
        width: 90%;
    }

    .btn-login {
        margin: 15px;
    }

    .container {
        width: 80%;
    }
}





/*REGISTER SMARTPHONE*/

@media only screen and (max-width: 950px) {
    .card-register {
        width: 85%;
    }
}



@media only screen and (max-width: 600px) {



    .left-register {
        width: 140%;
        height: auto;
    }

    h1 {
        text-align: center;
    }

    .right-register {
        width: 130%;
        height: auto;
    }

    .left-register-image {
        width: 50vw;
    }

    .card-register {
        width: 132%;
    }

    .container {
        width: 70%;
    }
}


/*Usuario Smartphone*/


@media only screen and (max-width: 950px) {
    table {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {

    .container-usuario {
        padding: 15px;
        margin: 0px;
        margin-left: -95px;
    }

    table {
        border: none;
        width: 400px;
    }

        table tbody tr td {
            display: block;
            text-align: right;
            margin: 5px;
            border: none;
            width: 350px;
            height: 25px
        }

            table tbody tr td:before {
                content: attr(data-title);
                position: absolute;
                left: 15px;
                display: block;
                font-weight: 600;
                font-size: 1em;
            }


        table thead {
            display: none;
        }

        table tbody tr {
            margin: 10px;
            display: block;
            border: 1px solid #dad6eb;
            border-radius: 12px;
            padding: 2px 1px;
            height: 200px;
        }

            table tbody tr td button {
                width: 100%;
                height: 10px;
            }

    .barra-pesquisa {
        width: 300px;
        margin-left: -40px;
        border-color: #FF8F1B;
        border-radius: 25px;
        box-shadow: 0px 2px 10px #FF8F1B;
    }
}


/*Contato SMARTPHONE*/

@media only screen and (max-width: 950px) {
    table {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {

    .card-contato {
        width: 36vh;
        margin-top: 50px;
        margin-left: -50px;
        flex-direction: column;
        align-items: flex-start;
    }

    .contato-image {
        width: 100%;
    }

    .left-contato {
        margin-left: 0px;
        margin-top: 20px;
    }
}




/*Roda Pé*/

footer {
    width: 101%;
    color: #FFF;
    margin-top: 80px;
}

#footer_content {
    background-color: #1C1C1C;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 2.5rem;
        width: 2.5rem;
        color: aqua;
        border-radius: 50%;
    }

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

    .footer-list .footer-link {
        color: #FF8F1B;
        transition: all 0.4s;
    }

        .footer-list .footer-link:hover {
            color: white;
        }

#footer_copyright {
    color: black;
    display: flex;
    justify-content: center;
    background-color: #FF8F1B;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media only screen and (max-width: 950px) {
    #footer_content {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    #footer_content {
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
        align-items: center;
        justify-items: center;
    }

    .footer-list {
        align-items: center;
    }
}





.container-chat {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* chat box section */

.chat-box {
    width: 4000px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #111b21;
    padding: 15px;
}

    .client img {
        width: 60px;
        height: 65px;
        border-radius: 50%;
    }


.client-info {
    color: #fff;
    padding: 15px;
}

    .client-info p {
        color: #008000;
        font-weight: bold;
        font-size: 0.8em;
    }

#mobile {
    border: 2px solid black;
}

#message {
    border: 2px solid black;
}

#videoUrl {
    border: 2px solid black;
}

#captiontxt {
    border: 2px solid black;
}

#imageUrl {
    border: 2px solid black;
}

.botao-enviar {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    margin-left: 1000px;
}

.link-botao {
    padding: 15px;
}

.roda-pé-chat {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 87px;
    background-color: #111b21;
    padding: 15px;
}

#link_message {
    display: flex;
    gap: 2rem;
}

    #link_message .message-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: #fff;
        border-radius: 50%;
        transition: all 0.4s;
    }

        #link_message .message-link i {
            font-size: 1.25rem;
        }

        #link_message .message-link:hover {
            opacity: 0.8;
        }


#image {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#messagem {
    background-color: #D2691E;
}

#video {
    background-color: #4267b3;
}


/**************************************************/
/*Email*/

.container-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-email {
    color: white;
    text-align: center;
}

.email-box {
    width: 4000px;
    height: 450px;
    background-color: #1C1C1C;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

#corpo {
    border: 4px solid #FF8F1B;
}

#assunto {
    border: 4px solid #FF8F1B;
}

.btn-enviar {
    width: 95%;
    padding: 12px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #1C1C1C;
    background: #FF8F1B;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff9933;
}
