


<body class="index-page">

    <h7 class="Titulo-carrosel"> <font color="white">Jogue com amigos</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Amigos Interativo*@
    <div class="carousel">
        @*Amigos*@
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/duo-with-friends">

                    <img src="https://images.crazygames.com/duo-with-friends/20211116161001/duo-with-friends-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/minibattles-2-3-4-5-6-player-games">
                    <img src="https://images.crazygames.com/games/minibattles-2-3-4-5-6-player-games/cover-1599487808423.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/8-ball-billiards-classic">
                    <img src="https://images.crazygames.com/games/8-ball-billiards-classic/cover-1663856160911.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

           <div class="card">
                <a href="https://www.crazygames.com.br/embed/chess-master">
                    <img src="https://images.crazygames.com/chess-master/20221107113018/chess-master-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/shellshockersio">
                    <img src="https://images.crazygames.com/shellshockersio/20230203070909/shellshockersio-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/sugar-rush">
                    <img src="https://images.crazygames.com/sugar-rush/20230309173408/sugar-rush-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/smash-karts">
                    <img src="https://images.crazygames.com/smash-karts/20201119155032/smash-karts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/kirka-io">
                    <img src="https://images.crazygames.com/games/kirka-io/cover-1649101040624.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/winter-clash-3d">
                    <img src="https://images.crazygames.com/games/winter-clash-3d/cover-1584470160643.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/pinturillo">
                    <img src="https://images.crazygames.com/pinturillo/20230310121636/pinturillo-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>"

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/zombsroyaleio">
                    <img src="https://images.crazygames.com/games/zombsroyaleio/cover-1587299840102.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tic-tac-toe">
                    <img src="https://images.crazygames.com/games/tic-tac-toe/thumb-1579168809142.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/vegas-clash-3d-yxd">
                    <img src="https://images.crazygames.com/vegas-clash-3d-yxd/20211015093735/vegas-clash-3d-yxd-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

    <br />
    <br />


    @*<div class="background">
        <h7 class="Titulo-carrosel"> <font color="white">Online</font></h7>
        <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

        @*Online*@
        @*<div class="carousel">
            <div class="carousel-container">



                <!-- Adicione quantos cards você quiser -->

            </div>
            <button class="prev-btn">&lt;</button>
            <button class="next-btn">&gt;</button>
        </div>
    </div>

    <br />
    <br />*@



    <h7 class="Titulo-carrosel"> <font color="white">2 Jogadores</font></h7>
    <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

    @*2 jogadores*@
    <div class="carousel"> @*2 jogadores*@
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/basketbros">
                    <img src="https://images.crazygames.com/games/basketbros/cover-1586360611838.jpg?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/crazy-roll-3d">
                    <img src="https://images.crazygames.com/games/crazy-roll-3d/cover-1663149965269.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/microcar-shootouts">
                    <img src="https://images.crazygames.com/microcar-shootouts/20221122092914/microcar-shootouts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/bouncy-motors">
                    <img src="https://images.crazygames.com/bouncy-motors/20230220162342/bouncy-motors-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/stickman-supreme-duelist-2">
                    <img src="https://images.crazygames.com/stickman-supreme-duelist-2/20230314082715/stickman-supreme-duelist-2-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tic-tac-toe">
                    <img src="https://images.crazygames.com/games/tic-tac-toe/thumb-1579168809142.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/chess-master">
                    <img src="https://images.crazygames.com/chess-master/20221107113018/chess-master-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/drunken-duel-2">
                    <img src="https://images.crazygames.com/drunken-duel-2/20230221103853/drunken-duel-2-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>





    <br />
    <br />



    <h7 class="Titulo-carrosel"> <font color="white">Jogos de Condução</font></h7>

    <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

    @*Condução*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/crazy-drift">
                    <img src="https://images.crazygames.com/games/crazy-drift/cover-1655409764442.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/smash-karts">
                    <img src="https://images.crazygames.com/smash-karts/20201119155032/smash-karts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/cycle-extreme">
                    <img src="" alt="Card image cap">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/moto-maniac-3">
                    <img src="" alt="Card image cap">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/free-rider-jumps">
                    <img src="" alt="Card image cap">
                </a>
            </div>


            <div class="card">
                <a href="https://www.crazygames.com.br/embed/rude-races">
                    <img src="https://images.crazygames.com/rude-races/20220114094822/rude-races-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/drift-dudes">
                    <img src="https://images.crazygames.com/games/drift-dudes/cover-1673289277115.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/road-turn">
                    <img src="https://images.crazygames.com/road-turn-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/microcar-shootouts">
                    <img src="https://images.crazygames.com/microcar-shootouts/20221122092914/microcar-shootouts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/parking-panic">
                    <img src="https://images.crazygames.com/games/parking-panic/cover-1623165521752.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

           

            @****************************@


        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

    <br />
    <br />

    <h7 class="Titulo-carrosel"> <font color="white">Jogos de .io</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos de .io*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/hexanaut-io">
                    <img src="https://images.crazygames.com/games/hexanaut-io/cover-1647616033546.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/cubes-2048-io">
                    <img src="https://images.crazygames.com/cubes-2048-io/20230111111834/cubes-2048-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=329&h=185&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/sugar-rush">
                    <img src="https://images.crazygames.com/sugar-rush/20230309173408/sugar-rush-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/battledudes-io">
                    <img src="https://images.crazygames.com/battledudes-io/20201103145035/battledudes-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            @****************************@

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/snake-io">
                    <img src="https://images.crazygames.com/snake-io/20220928123850/snake-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>


           <div class="card">
                <a href="https://www.crazygames.com.br/embed/astrodud-io">
                    <img src="https://images.crazygames.com/astrodud-io/20210617070931/astrodud-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/ducklings">
                    <img src="https://images.crazygames.com/ducklings/20210304172146/ducklings-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

    <br />
    <br />

     <h7 class="Titulo-carrosel"> <font color="white">Jogos Casual</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos Casual*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tall-io">
                    <img src="https://images.crazygames.com/tall-io/20230313131845/tall-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/flip-bottle">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/cut-the-rope">
                    <img src="https://images.crazygames.com/games/cut-the-rope/cover-1600854243698.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tag-2-3-4-players">
                    <img src="https://images.crazygames.com/tag-2-3-4-players/20221212172606/tag-2-3-4-players-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/jet-rush">
                    <img src="https://images.crazygames.com/games/jet-rush/cover-1663772569110.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/shape-shooter-3">
                    <img src="https://images.crazygames.com/shape-shooter-3/20230315163335/shape-shooter-3-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/oneline">
                    <img src="https://images.crazygames.com/oneline/20220905160742/oneline-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/blob-opera">
                    <img src="https://images.crazygames.com/games/blob-opera/cover-1618230037270.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/cut-the-rope-experiments">
                    <img src="https://images.crazygames.com/cuttheropeexperiments.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="">
                    <img src="">
                </a>
            </div>

            
        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

    <br />
    <br />
    <h7 class="Titulo-carrosel"> <font color="white">Jogos De Ação</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos de Ação*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/time-shooter-2">
                    <img src="https://images.crazygames.com/games/time-shooter-2/cover-1655215853507.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/bomber-friends">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/funny-battle-simulator">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/funny-shooter-2">
                    <img src="https://images.crazygames.com/funny-shooter-2/20220823175815/funny-shooter-2-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/metal-guns-fury">
                    <img src="https://images.crazygames.com/games/metal-guns-fury/thumb-1571044932890.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/crazy-assassin">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/clash-of-tanks">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/mutant-escape">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/operation-desert-road-kck">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/battalion-commander-2">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/red-stickman-vs-monster-school-2">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/krunker-io">
                    <img src="">
                </a>
            </div>
            
        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>


    <br />
    <br />
    <h7 class="Titulo-carrosel"> <font color="white">Jogos De Aventura</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos de Aventura*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/horror-tale-kidnapper">
                    <img src="https://images.crazygames.com/horror-tale-kidnapper/20230307092027/horror-tale-kidnapper-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/horror-tale-2-samantha">
                    <img src="https://images.crazygames.com/horror-tale-2-samantha/20230310170516/horror-tale-2-samantha-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/escape-or-die">
                    <img src="https://images.crazygames.com/escape-or-die/20211015090606/escape-or-die-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/stickman-parkour-2---lucky-block">
                    <img src="https://images.crazygames.com/stickman-parkour-2---lucky-block/20230113075844/stickman-parkour-2---lucky-block-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            
        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>


      <br />
    <br />
    <h7 class="Titulo-carrosel"> <font color="white">Jogos De Futebol</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos de Futebol*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/penalty-shooters-2">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/soccer-dash">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/street-freekick-3d">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/free-kick-classic">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/soccer-duel">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/pegball-frvr">
                    <img src="">
                </a>
            
        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>
    </div>


     <br />
    <br />
    <h7 class="Titulo-carrosel"> <font color="white">Jogos De Sinuca</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos de Sinuca*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/8-ball-billiards-classic">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/pool-club">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/mafia-billiard-tricks">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/pool-mania">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/billiards-pool-8">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/speed-pool-king">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/billiards">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="">
                    <img src="">
                </a>
            </div>

            
        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

</body>








