@*<div class="album py-5 bg-black">
    <div class="container-jogos">

    <div class="row">
    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://play.famobi.com/om-nom-run/A1000-11"><img class="card-img-top" src="https://www.yupijuegos.com/wp-content/uploads/2021/05/OmNomRunTeaser.jpg" height="300" width="300"></a>

    <a href="https://play.famobi.com/om-nom-run/A1000-11"> <p><font color="white"> <center><h4>Om Nom Run</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://play.famobi.com/cannon-balls-3d"><img class="card-img-top" src="https://lh3.googleusercontent.com/mSIK5DwW268VNQmy6d_seJTn3z1PeN91pJedNjpy4nuBypYi1Qvr9TRXKM7Cf9uS_On-" height="300" width="300"></a>

    <a href="https://play.famobi.com/cannon-balls-3d"> <p><font color="white"> <center><h4>Cannon Balls 3D</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://play.famobi.com/table-tennis-world-tour"><img class="card-img-top" src="https://th.bing.com/th/id/OIP.y9CPe7XLuj1sTDf1ps1QtQAAAA?pid=ImgDet&w=320&h=320&rs=1" height="300" width="300"></a>

    <a href="https://play.famobi.com/table-tennis-world-tour"><p><font color="white"><center><h4>Table Tennis World Tour</h4></center></font></p></a>

    </div>
    </div>



    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://play.famobi.com/jetpack-joyride"><img class="card-img-top" src="https://img.cdn.famobi.com/portal/html5games/images/tmp/JetpackJoyrideTeaser.jpg" height="300" width="300"></a>

    <a href="https://play.famobi.com/jetpack-joyride"> <p><font color="white"> <center><h4>Jetpack Joyride</h4></center></font></p></a>
    </div>
    </div>


    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://play.famobi.com/crowd-run-3d"><img class="card-img-top" src="https://img.cdn.famobi.com/portal/html5games/images/tmp/_CrowdRun3dTeaser.jpg" height="300" width="300"></a>

    <a href="https://play.famobi.com/crowd-run-3d"> <p><font color="white"> <center><h4>Crowd Run 3D</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/push-my-chair"><img class="card-img-top" src="https://images.crazygames.com/push-my-chair/20230203185837/push-my-chair-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/push-my-chair"><p><font color="white"><center><h4>Table Tennis World Tour</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/highway-racer"><img class="card-img-top" src="https://images.crazygames.com/games/highway-racer/cover-1655194175251.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=329&h=185&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/highway-racer"> <p><font color="white"> <center><h4>Highway Racer</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/cubes-2048-io"><img class="card-img-top" src="https://images.crazygames.com/cubes-2048-io/20230111111834/cubes-2048-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=329&h=185&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/cubes-2048-io"> <p><font color="white"> <center><h4>Cubes 2048.io</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/getaway-shootout"><img class="card-img-top" src="https://images.crazygames.com/games/getaway-shootout/cover-1585549923267.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/getaway-shootout"> <p><font color="white"> <center><h4>Getaway Shootout</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/battledudes-io"><img class="card-img-top" src="https://images.crazygames.com/battledudes-io/20201103145035/battledudes-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/battledudes-io"> <p><font color="white"> <center><h4>BattleDudes.io</h4></center></font></p></a>

    </div>
    </div>


    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/kirka-io"><img class="card-img-top" src="https://images.crazygames.com/games/kirka-io/cover-1649101040624.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/kirka-io"> <p><font color="white"> <center><h4>Kirka.io</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/hexanaut-io"><img class="card-img-top" src="https://images.crazygames.com/games/hexanaut-io/cover-1647616033546.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/hexanaut-io"> <p><font color="white"> <center><h4>Hexanaut.io</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/minigiants-io"><img class="card-img-top" src="https://images.crazygames.com/games/minigiants-io/cover-1584553354815.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/minigiants-io"> <p><font color="white"> <center><h4>MiniGiants.io</h4></center></font></p></a>

    </div>
    </div>


    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/smash-karts"><img class="card-img-top" src="https://images.crazygames.com/smash-karts/20201119155032/smash-karts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/smash-karts"> <p><font color="white"> <center><h4>Smash karts</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/copter-io"><img class="card-img-top" src="https://images.crazygames.com/games/copter-io/cover-1585071180766.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/copter-io"> <p><font color="white"> <center><h4>Copter.io</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/ball-kickers-european-season-2021"><img class="card-img-top" src="https://images.crazygames.com/ball-kickers-european-season-2021/20210615130326/ball-kickers-european-season-2021-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/ball-kickers-european-season-2021"> <p><font color="white"> <center><h4>Ball Kickers: European Season 2021</h4></center></font></p></a>

    </div>
    </div>


    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/scuffed-uno"><img class="card-img-top" src="https://images.crazygames.com/games/scuffed-uno/cover-1629911821462.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/scuffed-uno"> <p><font color="white"> <center><h4>Scuffed UNO</h4></center></font></p></a>

    </div>
    </div>

    <div class="col-md-4">
    <div class="card mb-4 ">
    <a href="https://www.crazygames.com.br/embed/ducklings"><img class="card-img-top" src="https://images.crazygames.com/ducklings/20210304172146/ducklings-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" height="300" width="300"></a>

    <a href="https://www.crazygames.com.br/embed/ducklings"> <p><font color="white"> <center><h4>Ducklings</h4></center></font></p></a>

    </div>
    </div>

    </div>
    </div>
    </div>*@


@*<div class="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="card">
    <img src="https://www.yupijuegos.com/wp-content/uploads/2021/05/OmNomRunTeaser.jpg" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    </div>
    </div>
    </div>
    <div class="carousel-item">
    <div class="card">
    <img src="https://lh3.googleusercontent.com/mSIK5DwW268VNQmy6d_seJTn3z1PeN91pJedNjpy4nuBypYi1Qvr9TRXKM7Cf9uS_On-" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    </div>
    </div>
    </div>
    <div class="carousel-item">
    <div class="card">
    <img src="https://www.yupijuegos.com/wp-content/uploads/2021/05/OmNomRunTeaser.jpg" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    </div>
    </div>
    </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    </div>*@


<body class="index-page">

    <h7 class="Titulo-carrosel"> <font color="white">Jogue com amigos</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Amigos Interativo*@
    <div class="carousel">

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/duo-with-friends">
                @*Amigos interativo*@
                <img src="https://images.crazygames.com/duo-with-friends/20211116161001/duo-with-friends-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/shellshockersio">
                <img src="https://images.crazygames.com/shellshockersio/20230203070909/shellshockersio-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>


        <div class="card">
            <a href="https://www.crazygames.com.br/embed/scuffed-uno">
                <img src="https://images.crazygames.com/games/copter-io/cover-1585071180766.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>


        <!-- Adicione quantos cards você quiser -->

    </div>

    <br />
    <br />



    <h7 class="Titulo-carrosel"> <font color="white">Online</font></h7>
    <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

    @*Online*@
    <div class="carousel">

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/shellshockersio">
                <img src="https://images.crazygames.com/shellshockersio/20230203070909/shellshockersio-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>
        <div class="card">
            <a href="https://www.crazygames.com.br/embed/chess-online-multiplayer-game">
                <img src="https://images.crazygames.com/chess-online-multiplayer-game/20221128113100/chess-online-multiplayer-game-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
            </a>
        </div>

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/scuffed-uno">
                <img src="https://images.crazygames.com/games/copter-io/cover-1585071180766.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
            </a>
        </div>
        <!-- Adicione quantos cards você quiser -->
    </div>


    <br />
    <br />



    <h7 class="Titulo-carrosel"> <font color="white">2 Jogadores</font></h7>
    <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

    @*2 jogadores*@
    <div class="carousel">

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/basketbros">
                <img src="https://images.crazygames.com/games/basketbros/cover-1586360611838.jpg?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>
        <div class="card">
            <a href="https://www.crazygames.com.br/embed/scuffed-uno">
                <img src="https://images.crazygames.com/games/highway-racer/cover-1655194175251.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=329&h=185&fit=crop" alt="Card image cap">
            </a>
        </div>
        <div class="card">
            <a href="https://www.crazygames.com.br/embed/scuffed-uno">
                <img src="https://images.crazygames.com/games/copter-io/cover-1585071180766.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
            </a>
        </div>
    </div>



    <br />
    <br />



    <h7 class="Titulo-carrosel"> <font color="white">Carro</font></h7>
    <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

    @*Carro*@
    <div class="carousel">

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/crazy-drift">
                <img src="https://images.crazygames.com/games/crazy-drift/cover-1655409764442.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>
        <div class="card">
            <a href="https://www.crazygames.com.br/embed/smash-karts">
                <img src="https://images.crazygames.com/smash-karts/20201119155032/smash-karts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
            </a>
        </div>
        <div class="card">
            <a href="https://www.crazygames.com.br/embed/scuffed-uno">
                <img src="https://images.crazygames.com/games/copter-io/cover-1585071180766.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
            </a>
        </div>
    </div>

    <br />
    <br />

    <h7 class="Titulo-carrosel"> <font color="white">Jogos de .io</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos de .io*@
    <div class="carousel">

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/hexanaut-io">
                <img src="https://images.crazygames.com/games/hexanaut-io/cover-1647616033546.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>

        <div class="card">
            <a href="https://www.crazygames.com.br/embed/cubes-2048-io">
                <img src="https://images.crazygames.com/cubes-2048-io/20230111111834/cubes-2048-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=329&h=185&fit=crop">
            </a>
        </div>


        <div class="card">
            <a href="https://www.crazygames.com.br/embed/battledudes-io">
                <img src="https://images.crazygames.com/battledudes-io/20201103145035/battledudes-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
            </a>
        </div>
    </div>


</body>
@*links de jogos *@

@*https://www.crazygames.com.br/jogos/duo-with-friends*@   VV
@*https://www.crazygames.com.br/jogos/shellshockersio*@ VV
@*https://www.crazygames.com.br/jogos/basketbros*@ VV
@*https://www.crazygames.com.br/jogos/crazy-drift*@ VV
@*https://www.crazygames.com.br/jogos/chess-online-multiplayer-game*@ VV
@*https://www.crazygames.com.br/jogos/crazy-flips-3d*@








