


<body class="index-page">

    <h7 class="Titulo-carrosel"> <font color="white">Jogue com amigos</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Amigos Interativo*@
    <div class="carousel">
        @*Amigos*@
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/duo-with-friends">

                    <img src="https://images.crazygames.com/duo-with-friends/20211116161001/duo-with-friends-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/minibattles-2-3-4-5-6-player-games">
                    <img src="">
                </a>
            </div>

           <div class="card">
                <a href="https://www.crazygames.com.br/embed/chess-master">
                    <img src="https://images.crazygames.com/chess-master/20221107113018/chess-master-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/shellshockersio">
                    <img src="https://images.crazygames.com/shellshockersio/20230203070909/shellshockersio-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/sugar-rush">
                    <img src="https://images.crazygames.com/sugar-rush/20230309173408/sugar-rush-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/smash-karts">
                    <img src="https://images.crazygames.com/smash-karts/20201119155032/smash-karts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/kirka-io">
                    <img src="https://images.crazygames.com/games/kirka-io/cover-1649101040624.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/winter-clash-3d">
                    <img src="https://images.crazygames.com/games/winter-clash-3d/cover-1584470160643.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/pinturillo">
                    <img src="https://images.crazygames.com/pinturillo/20230310121636/pinturillo-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>"

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/zombsroyaleio">
                    <img src="https://images.crazygames.com/games/zombsroyaleio/cover-1587299840102.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tic-tac-toe">
                    <img src="https://images.crazygames.com/games/tic-tac-toe/thumb-1579168809142.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/vegas-clash-3d-yxd">
                    <img src="https://images.crazygames.com/vegas-clash-3d-yxd/20211015093735/vegas-clash-3d-yxd-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

    <br />
    <br />


    @*<div class="background">
        <h7 class="Titulo-carrosel"> <font color="white">Online</font></h7>
        <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

        @*Online*@
        @*<div class="carousel">
            <div class="carousel-container">



                <!-- Adicione quantos cards você quiser -->

            </div>
            <button class="prev-btn">&lt;</button>
            <button class="next-btn">&gt;</button>
        </div>
    </div>

    <br />
    <br />*@



    <h7 class="Titulo-carrosel"> <font color="white">2 Jogadores</font></h7>
    <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

    @*2 jogadores*@
    <div class="carousel"> @*2 jogadores*@
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/basketbros">
                    <img src="https://images.crazygames.com/games/basketbros/cover-1586360611838.jpg?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/crazy-roll-3d">
                    <img src="https://images.crazygames.com/games/crazy-roll-3d/cover-1663149965269.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/microcar-shootouts">
                    <img src="https://images.crazygames.com/microcar-shootouts/20221122092914/microcar-shootouts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/bouncy-motors">
                    <img src="https://images.crazygames.com/bouncy-motors/20230220162342/bouncy-motors-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/stickman-supreme-duelist-2">
                    <img src="https://images.crazygames.com/stickman-supreme-duelist-2/20230314082715/stickman-supreme-duelist-2-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tic-tac-toe">
                    <img src="https://images.crazygames.com/games/tic-tac-toe/thumb-1579168809142.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/chess-master">
                    <img src="https://images.crazygames.com/chess-master/20221107113018/chess-master-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/drunken-duel-2">
                    <img src="https://images.crazygames.com/drunken-duel-2/20230221103853/drunken-duel-2-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop" alt="Card image cap">
                </a>
            </div>

        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>





    <br />
    <br />



    <h7 class="Titulo-carrosel"> <font color="white">Condução</font></h7>

    <h7 class="seta-carrosel"><font color="#FF8F1B">>></font></h7>

    @*Carro*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/crazy-drift">
                    <img src="https://images.crazygames.com/games/crazy-drift/cover-1655409764442.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>
            <div class="card">
                <a href="https://www.crazygames.com.br/embed/smash-karts">
                    <img src="https://images.crazygames.com/smash-karts/20201119155032/smash-karts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/rude-races">
                    <img src="https://images.crazygames.com/rude-races/20220114094822/rude-races-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/drift-dudes">
                    <img src="https://images.crazygames.com/games/drift-dudes/cover-1673289277115.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/road-turn">
                    <img src="https://images.crazygames.com/road-turn-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/microcar-shootouts">
                    <img src="https://images.crazygames.com/microcar-shootouts/20221122092914/microcar-shootouts-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/parking-panic">
                    <img src="https://images.crazygames.com/games/parking-panic/cover-1623165521752.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop" alt="Card image cap">
                </a>
            </div>

           

            @****************************@


        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

    <br />
    <br />

    <h7 class="Titulo-carrosel"> <font color="white">Jogos de .io</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos de .io*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/hexanaut-io">
                    <img src="https://images.crazygames.com/games/hexanaut-io/cover-1647616033546.png?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/cubes-2048-io">
                    <img src="https://images.crazygames.com/cubes-2048-io/20230111111834/cubes-2048-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=329&h=185&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/sugar-rush">
                    <img src="https://images.crazygames.com/sugar-rush/20230309173408/sugar-rush-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/battledudes-io">
                    <img src="https://images.crazygames.com/battledudes-io/20201103145035/battledudes-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=178&h=100&fit=crop">
                </a>
            </div>

            @****************************@

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/snake-io">
                    <img src="https://images.crazygames.com/snake-io/20220928123850/snake-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>


           <div class="card">
                <a href="https://www.crazygames.com.br/embed/astrodud-io">
                    <img src="https://images.crazygames.com/astrodud-io/20210617070931/astrodud-io-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/ducklings">
                    <img src="https://images.crazygames.com/ducklings/20210304172146/ducklings-cover?auto=format%2Ccompress&q=45&cs=strip&ch=DPR&w=297&h=167&fit=crop">
                </a>
            </div>

        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>


     <h7 class="Titulo-carrosel"> <font color="white">Jogos de .io</font></h7>
    <h7 class="seta-carrosel"> <font color="#FF8F1B">>></font></h7>
    @*Jogos Casual*@
    <div class="carousel">
        <div class="carousel-container">

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tall-io">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/cut-the-rope">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/tag-2-3-4-players">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="https://www.crazygames.com.br/embed/jet-rush">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/shape-shooter-3">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/oneline">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/blob-opera">
                    <img src="">
                </a>
            </div>

             <div class="card">
                <a href="https://www.crazygames.com.br/embed/cut-the-rope-experiments">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="">
                    <img src="">
                </a>
            </div>

            <div class="card">
                <a href="">
                    <img src="">
                </a>
            </div>

            
        </div>
        <button class="prev-btn">&lt;</button>
        <button class="next-btn">&gt;</button>
    </div>

</body>








