@{
    ViewData["Title"] = "Home Page";
}

<div class="inner">
            <div class="icon">
                <img src="//files.menudino.com/cardapios/47676/logo.png" class="img-responsive" alt="La Brasa Burger Realengo - RJ">
            </div>
            <h1>
                La Brasa Burger Realengo - RJ
            </h1>
                <h2>
                    <address>
                        <i class="fa fa-map-marker"></i>
                        Avenida de Santa Cruz, 2106, Rio de Janeiro, RJ
                    </address>
                    <input id="EndEstado" name="EndEstado" type="hidden" value="RJ">
                </h2>
                            <div class="row mt mb">
                    <div class="col-xs-12 text-center">
                                <a href="#" class="label label-fechado" data-modalatendimento="detalhesAtendimentoModal">
                                    Fechado para pedidos
                                </a>
                                <a href="tel:(21) 2137-5719" class="label label-fechado ml" title="Ligar para o estabelecimento"><i class="fa fa-phone"></i></a>
                    </div>
                </div>

                <div class="row text-center text-white mb">
                    <div class="col-xs-12">
                        <a href="#" class="text-white" data-modalatendimento="detalhesAtendimentoModal">
                                    <i class="fa fa-clock-o"></i> <span class="tempoEstimadoSelected text-bold">45-55min</span>
                                    ●
                                                            <span>Mínimo R$30,00</span>
                                ●
                            Ver Mais
                        </a>
                        
                    </div>
                </div>
        </div>
