<style>
.card  {
    background-color: transparent;
}
</style>

<div class="album py-5 bg-black">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <a href="https://play.famobi.com/om-nom-run/A1000-11"><img class="card-img-top" src="https://www.yupijuegos.com/wp-content/uploads/2021/05/OmNomRunTeaser.jpg" height="300" width="300"></a>

                    <a href="https://play.famobi.com/om-nom-run/A1000-11"> <p><font color="white"> <center><h4>Om Nom Run</h4></center></font></p></a>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 ">
                    <a href="https://play.famobi.com/cannon-balls-3d"><img class="card-img-top" src="https://lh3.googleusercontent.com/mSIK5DwW268VNQmy6d_seJTn3z1PeN91pJedNjpy4nuBypYi1Qvr9TRXKM7Cf9uS_On-" height="300" width="300"></a>
                   
                    <a href="https://play.famobi.com/cannon-balls-3d"> <p><font color="white"> <center><h4>Cannon Balls 3D</h4></center></font></p></a>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 ">
                    <a href="https://play.famobi.com/table-tennis-world-tour"><img class="card-img-top" src="https://th.bing.com/th/id/OIP.y9CPe7XLuj1sTDf1ps1QtQAAAA?pid=ImgDet&w=320&h=320&rs=1" height="300" width="300"></a>
    
                    <a href="https://play.famobi.com/table-tennis-world-tour"><p><font color="white"><center><h4>Table Tennis World Tour</h4></center></font></p></a>

                </div>
            </div>


            @*TESTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*@
            <div class="col-md-4">
                <div class="card mb-4 ">
                    <a href="https://play.famobi.com/om-nom-run/A1000-11"><img class="card-img-top" src="https://www.yupijuegos.com/wp-content/uploads/2021/05/OmNomRunTeaser.jpg" height="300" width="300"></a>
 
                    <a href="https://play.famobi.com/om-nom-run/A1000-11"> <p><font color="white"> <center><h4>Om Nom Run</h4></center></font></p></a>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4 ">
                    <a href="https://play.famobi.com/cannon-balls-3d"><img class="card-img-top" src="https://lh3.googleusercontent.com/mSIK5DwW268VNQmy6d_seJTn3z1PeN91pJedNjpy4nuBypYi1Qvr9TRXKM7Cf9uS_On-" height="300" width="300"></a>
                   
                    <a href="https://play.famobi.com/cannon-balls-3d"> <p><font color="white"> <center><h4>Cannon Balls 3D</h4></center></font></p></a>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 ">
                    <a href="https://play.famobi.com/table-tennis-world-tour"><img class="card-img-top" src="https://th.bing.com/th/id/OIP.y9CPe7XLuj1sTDf1ps1QtQAAAA?pid=ImgDet&w=320&h=320&rs=1" height="300" width="300"></a>
                   
                    <a href="https://play.famobi.com/table-tennis-world-tour"><p><font color="white"><center><h4>Table Tennis World Tour</h4></center></font></p></a>

                </div>
            </div>
        </div>
    </div>
</div>



