@model LaBrasa.MVC.ViewModels.LoginViewModel

<style>
    .main-login {
        width: 70vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<style>
    .left-login {
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>


<style>
    .left-login > h1{
        color: #FF8F1B;
    }
</style>


<style>
    .right-login {
        width: 1000vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="main-login">
    <div class="left-login">
        <h1>Faça Login<br> <font color ="white">E entre para o nosso time</font></h1>
        <br />
        <img src="~/images/logobranco-1.png">
    </div>
    <div class="right-login">
        <div class="col-md-5">
            <font color="#FF8F1B"><h1>LOGIN</h1></font>
        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">

            <input type="hidden" asp-for="ReturnUrl" />

            <div asp-validation-summary="All" class="text-danger">
            </div>

            <div class="form-group">
               <font color ="#FF8F1B"><label  asp-for="Email" class="col-md-2 control-label"></label></font>
                <div class="col-md-10">
                    <input asp-for="Email"  class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                @*Nome em cima do fomulário*@
               <font color ="#FF8F1B"><label asp-for="Password" class="col-md-2 control-label"></label></font>
                <div class="col-md-10">
                    <input asp-for="Password"  class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-dark">Log in</button>
                </div>
            </div>

            <p>
                <a asp-action="Register">Cadastre-se agora</a>
            </p>

        </form>
    </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}