<html>
<head>
    <meta charset="UTF-8">
    <title>Site do Prof. Miltin</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&amp;display=swap" rel="stylesheet">
    <style type="text/css" title="MeuEstilo" media="all">

        * {
            font-family: 'Ubuntu', sans-serif;
        }

        body {
            background-color: #fff;
            text-align: center;
            margin: 25px;
        }

        .container {
            background-color: #1C1C1C;
            padding: 15px;
            text-align: center;
        }

        h1 {
            color: #FF8F1B;
        }

        h2 {
            color: #FF8F1B;
            font-size: 14px;
        }



        img.avatar {
            width: 200px;
            border-radius: 10%;
            filter: grayscale(1);
            transition: 0.5s;
        }

        .detalhes-left {
            padding: 30px;
            margin: 30px;
            text-align: left;
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
        }

        /*.detalhes-right {
            margin: 30px;
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
/*            -moz-column-count: 3;*/ /* Firefox */
            /*column-count: 3;
        }*//**/

        .negrito {
            font-weight: 700;
            color: white;
        }

            .negrito > p {
                color: white;
                font-weight: 400;
            }

    </style>

</head>

<body>
    <div class="container">
        <h1> Perfil </h1>
        <img class="avatar" src="~/Images/shutterstock_502222246-copiar-1.jpg" alt="Avatar">



        <div class="detalhes-left">
            <h2>Informções Pessoais</h2>
            <span class="negrito">Nome:</span> <font color="white"><p>Milton Santos</p></font>
            <span class="negrito">Idade:</span> <font color="white"><p>34 anos</p></font>
            <span class="negrito">Endereço:</span> <font color="white"><p>Santa Teresa - ES</p></font>
            <span class="negrito">Genero:</span> <font color="white"><p>Masculino</p></font>
            <span class="negrito">Email:</span>  <font color="white"><p>miltonsanots22yahoo.com.br</p></font>
            <span class="negrito">Email:</span>  <font color="white"><p>miltonsanots22yahoo.com.br</p></font>
        </div>
    </div>


    <!--Experimente por um filtro para deixar a imagem preto
    e branca filter: grayscale(1); -->

</body>
</html>