@model LaBrasa.MVC.ViewModels.RegisterViewModel

<style>
    .main-register {
        width: 60vw;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<style>
    .left-login {
        width: 50vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>

<style>
    .card-login {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 35px;
        background: #1C1C1C;
        border-radius: 20px;
        box-shadow: 0px 10px 40px #5b5b58;
    }
</style>

<style>
    .text-field > input {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background: #ffffff;
        color: #FF8F1B;
        font-size: 12pt;
        box-shadow: 0px 10px 40px #00000056;
        outline: none;
        box-sizing: border-box;
    }
</style>

<style>
    .text-field > label {
        color: white;
        margin-bottom: 10px;
    }
</style>

<style>
    .text-field > input::placeholder {
        color: 	#808080;
    }
</style>

<style>
    .btn-register{
        width: 90%;
        padding: 16px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color: #1C1C1C;
        background: #FF8F1B;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #ff9933;

    }
</style>


<div class="main-register">
    <div class="left-login">
        <img src="~/images/logobranco-1.png"  height="292" width="302">>
        <br />


        <div class="card-login">
            <font color="#FF8F1B"><h1>Criar uma nova conta</h1></font>
            <font color="white"><center><h4>É rápido e fácil.</h4></center></font>
            <div class="col-md-10">
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="text-field">
                        <label for="Email">Email</label>
                        <input asp-for="Email" name="Email" placeholder="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="text-field">
                        <label for="PhoneNumber"> Celular</label>
                        <input asp-for="PhoneNumber" name="PhoneNumber" placeholder="Celular" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="text-field">
                        <label for="Password"> Senha</label>
                        <input asp-for="Password" name="Senha" placeholder="Senha" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="text-field">
                        <label for="Password">Confirmar Senha</label>
                        <input asp-for="ConfirmPassword" name="Confirmar Senha" placeholder="Confirmar Senha" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn-register">Cadastre-se</button>
                    <center><h4><a asp-controller="Account" asp-action="Login" class="btn btn-link"><h4>Já tem uma conta?</h4></a></h4></center>
                </form>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    }
