<main-footer>

</main-footer>
<footer>
    <div id="footer_content">
        <div id="footer_contacts">
            <img src="~/images/LogoLabrasaGame-removebg-preview.png" height="190" width="150" />
        </div>
        <ul class="footer-list">
            <li>
                <h3>Blog</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Inicio</a>
            </li>
            <li>
                <a href="/Contato/index" class="footer-link">Contato</a>
            </li>
            <li>
                <a href="#" class="footer-link">music</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Entre em contato</h3>
            </li>
            <li>
                <img src="~/Images/e-mail (1).png" height="20" width="20" >
                <email endereco="lucasteles_ccb@yahoo.com.br" conteudo="lucasteles_ccb@yahoo.com.br"></email>
            </li>
            <li>
                <img src="~/Images/telefone.png" height="20" width="20" >
                <a>(XX) XXXXXXXXX</a>
            </li>
            <li>
                <img src="~/Images/pin.png" height="20" width="20" >
                <a>Rua Endereço da empresa 110 - 2800000 - Rio de Janeiro</a>
            </li>
        </ul>
    </div>
    <div id="footer_copyright">
        &#169
        2023 direitos reservados.
    </div>
</footer>