<main-footer>

</main-footer>
<footer>
    <div id="footer_content">
        <div id="footer_contacts">
            <img src="~/images/LogoLabrasaGame-removebg-preview.png" height="190" width="150" />
        </div>
        <ul class="footer-list">
            <li>
                <h3>Blog</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Inicio</a>
            </li>
            <li>
                <a href="#" class="footer-link">adventure</a>
            </li>
            <li>
                <a href="#" class="footer-link">music</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Entre em contato</h3>
            </li>
            <li>
                <img src="~/Images/e-mail (1).png" height="25" width="25" >
                <email endereco="lucasteles_ccb@yahoo.com.br" conteudo="lucasteles_ccb@yahoo.com.br"></email>
            </li>
            <li>
                <img src="~/Images/telefone.png" height="25" width="25" >
                <h5>(XX) XXXXXXXXX</h5>
            </li>
            <li>
                <img src="~/Images/pin.png" height="25" width="25" >
                <h5>Rua Endereço da empresa 110 - 2800000 - Rio de Janeiro</h5>
            </li>
        </ul>

        @*<div id="footer_subscribe">
            <h3>Subscribe</h3>
            <p>
                enter su email.
            </p>

            <div id="input_group">
                <input type="email" id="email">
                <button></button>
            </div>
        </div>*@
    </div>
    <div id="footer_copyright">
        &#169
        2023 direitos reservados.
    </div>
</footer>