<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaBrasa.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/style.css">
</head>




<body>
    <header>


        <!-- menu retrátil lateral esquerda -->
        <input type="checkbox" id="check">
        <label id="icone" for="check"></label>
        <div class="barra">
            <nav>
                <a href="/Home/index">
                    <div class="Link">Inicio</div>
                </a>
                <a href="/Account/perfil">
                    <div class="Link">Perfil</div>
                </a>
                <a href="#">
                    <div class="Link">Conquistas</div>
                </a>
                <a href="#">
                    <div class="Link">Novidade</div>
                </a>
                <a href="#">
                    <div class="Link">Sobre</div>
                </a>
                @if (User.IsInRole("Admin"))@*Verificar se o Usuário tem o perfil de Admin @**@
                {
                    <a href="/admin/adminAccount">
                        <div class="Link">Admin</div>
                    </a>
                }

                <a asp-controller="Account" asp-action="Logout">
                    <div class="Link"> Sair<img src="~/Images/icons8-login-100 (1).png" height="25" width="25" /> </div>
                </a>
            </nav>
        </div>
        <!-- barra fixa azul horizontal -->

        <nav class="menu">
            <a href="index.html">
                <img src="~/Images/LogoLabrasaControle.png" height="42" width="42" id="logo">
            </a>
        </nav>

        <label for="menu-hamburguer">
            <div class="mburg">
                <span class="hamburguer"></span>
            </div>
        </label>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LaBrasa.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
