<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaBrasa.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>




<body>
    <header-navbar>


        <!-- menu retrátil lateral esquerda -->
        <input type="checkbox" id="check">
        <label id="icone" for="check"></label>
        <div class="barra">
            <nav>
                <a href="/Home/index">
                    
                    <div class="Link">
                        <ion-icon name="home-outline"></ion-icon>
                        <span>Inicio</span>
                    </div>
                </a>
                <a href="/Account/perfil">
                     
                    <div class="Link">
                        <ion-icon name="people-outline"></ion-icon>
                        <span>Perfil</span> 
                    </div>
                </a>
                <a href="/Contato/index">
                    <div class="Link">
                        <ion-icon name="help-circle-outline"></ion-icon>
                        <span>Ajuda</span>
                        </div>
                </a>
                @if (User.IsInRole("Admin"))@*Verificar se o Usuário tem o perfil de Admin @**@
                {
                    <a href="/admin/adminAccount">
                        <div class="Link">
                            <ion-icon name="construct-outline"></ion-icon>
                            <span>Admin</span>
                            </div>
                    </a>
                }


                <a asp-controller="Account" asp-action="Logout">
                    <div class="Link">
                        <ion-icon name="log-out-outline"></ion-icon>
                        <span>Sair</span>
                        </div>
                </a>
            </nav>
        </div>
        <!-- barra fixa azul horizontal -->

        <nav class="menu">
            <a href="/Home/index">
                <img src="~/Images/LogoLabrasaControle.png" height="42" width="42" id="logo">
            </a>
        </nav>

        <label for="menu-hamburguer">
            <div class="mburg">
                <span class="hamburguer"></span>
            </div>
        </label>

    </header-navbar>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top" 
    style="position: fixed;
    bottom: 0;
    width: 100%;
    color: white;">
        <div class="container">
            &copy; 2023 - LaBrasa.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
