<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaBrasa.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>




<body>
    <header-navbar>


        <!-- menu retrátil lateral esquerda -->
        <input type="checkbox" id="check">
        <label id="icone" for="check"></label>
        <div class="barra">
            <nav>
                <a href="/Home/index">
                    <div class="Link">Inicio</div>
                </a>
                <a href="/Account/perfil">
                    <div class="Link">Perfil</div>
                </a>
                <a href="/Contato/index">
                    <div class="Link">Contato</div>
                </a>
                @if (User.IsInRole("Admin"))@*Verificar se o Usuário tem o perfil de Admin @**@
                {
                    <a href="/admin/adminAccount">
                        <div class="Link">Admin</div>
                    </a>
                }


                <a asp-controller="Account" asp-action="Logout">
                    <div class="Link"> Sair  <img src="~/Images/porta-de-saida.png" height="25" width="25" /> </div>
                </a>
            </nav>
        </div>
        <!-- barra fixa azul horizontal -->

        <nav class="menu">
            <a href="/Home/index">
                <img src="~/Images/LogoLabrasaControle.png" height="42" width="42" id="logo">
            </a>
        </nav>

        <label for="menu-hamburguer">
            <div class="mburg">
                <span class="hamburguer"></span>
            </div>
        </label>

    </header-navbar>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top" 
    style="position: fixed;
    bottom: 0;
    width: 100%;
    color: white;">
        <div class="container">
            &copy; 2023 - LaBrasa.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
