<div class="main-contato">


    <div class="card-contato">
        @*criar classe*@


        <div class="left-contato">
            <h3>Queremos ouvir o que você tem a dizer</h3>
            <p>
                Se você tiver alguma dúvida ou sugestão fale conosco
            </p>
            <br />
            <br />
            <br />

            <p>
                @*span> <img src="~/Images/no.png" height="25" width="25" />
                             <h5><email endereco="lucasteles_ccb@yahoo.com.br" conteudo="Enviar um e-mail"></email></h5>
                             </span>*@
                <div class="imagem-e-texto">
                <img src="~/Images/e-mail (1).png" height="25" width="25" >
                <h5><email endereco="lucasteles_ccb@yahoo.com.br" conteudo="Enviar um e-mail"></email></h5>
               
                <br />
                
                    <img src="~/Images/telefone.png" height="25" width="25" >
                    <h5>(XX) XXXXXXXXX</h5>
                         @*<h5><a href="(XX) XXXXXXXXX">21975518853</a></h5>*@
                
                <br />
                
                    <img src="~/Images/pin.png" height="25" width="25" >
                    <h5>Rua Endereço da empresa 110 - 2800000 - Rio de Janeiro</h5>
               
                <br />
                 </div>
            </p>
        </div>
        <img class="contato-image" src="~/Images/Contact us-amico.png" alt="faleconosco" />
    </div>
</div>