<div class="main-contato">


    <div class="card-contato">
        @*criar classe*@
        

        <div class="left-contato">
            <h3>Queremos ouvir o que você tem a dizer</h3>
            <p>
                Se você tiver alguma dúvida ou sugestão fale conosco 
            </p>

            <p>  
                <span>
                    <img src="~/Images/" />
                </span>
                <h5><email endereco="lucasteles_ccb@yahoo.com.br" conteudo="Enviar um e-mail"></email></h5>
                <br />
                <span>
                    <img src="~/Images/phone-app-icon.png" />
                </span>
                <h5>(XX) XXXXXXXXX</h5>
                <br />
                <span>
                    <img src="~/Images/icons8-email-64.png" />
                </span>
                <h5>Rua Endereço da empresa 110 - 2800000 - Rio de Janeiro</h5>
            </p>
        </div>
        <img class="contato-image" src="~/Images/Contact us-amico.png" alt="faleconosco"   />
    </div>
</div>